body{
    font-family: "Krub", sans-serif;
    background:black;
    color:white;

margin:0px;
margin-bottom: 100px;



}
header{
    color: red;
    border-bottom: 3px solid white;
    font-size: 32px;
}
h1{
    font-size: 35px;
}
.chamada{
    background: red;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5px;
}